/* HTML */
html {
	font-family:"Helvetica CY", sans-serif;
	background-color: #073B69;
	margin: 5px;
	padding: 5px;
} /* HTML end */

/* BUTTON */
button {
	font-size:15px;
	background-color: #C1CED9;
	border:1px solid #FFFFFF;
	-webkit-border-radius:10px;
	margin: 20px;
	padding: 20px;

}


/* IMG */
img{

	-webkit-border-radius:10px;
	padding: 9px;
	
}


/* SECTION */

section{

	border:3px solid #FFFFFF;
	-webkit-border-radius:10px;
		
}

/* P */
p{
	font-size: 30px;
	color: #FFFFFF;
	
}
/* footer class */
.foot{
	font-size: 15px;
	color: #000000;
}

/*apple buttons */
.apple{
	background: url('images/apple.jpg');
	background-position:center;
	background-repeat:no-repeat;
	
	
}

/* android buttons */
.android{
	
	background: url('images/android.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

/* Research<p> */
.week{
	
	font-size: 18px;
}

/* <p> Discussion */
.discuss{

	font-color: #C1CED9;
	font-size: 30px;
}

div{
	
	text-align:center;
	margin-left:0 auto;
	margin-right:0 auto;
	width:100%;
	float:center;
	
}