 /* HTML */
html {
	font-family:"Helvetica CY", sans-serif;
	margin: 5px;
	padding: 5px;
	background: #7d7e7d; /* Old browsers */
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #0e0e0e 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(51%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#0e0e0e 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#0e0e0e 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#0e0e0e 51%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#0e0e0e 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

} /* HTML end */

/* BUTTON */
button {
	font-size:15px;
	background-color: #C1CED9;
	border:1px solid #FFFFFF;
	-webkit-border-radius:10px;
	margin: 20px;
	padding: 20px;
	height: 72px;
	width: 72px;

}


/* IMG */
img{

	-webkit-border-radius:10px;
	padding: 9px;
	
}


/* SECTION */

section{

	border:3px solid #FFFFFF;
	-webkit-border-radius:10px;
	
		
}

/* P */
p{
	font-size: 30px;
	color: #FFFFFF;
	margin-left:0 auto;
	margin-right:0 auto;
	text-align:center;
	
}

/* Icon Text */

.iText{
	font-size: 20px;
}
/* footer class */
.foot{
	font-size: 15px;
	color: #FFFFFF;
}

/*apple buttons */
.apple{
	/*background: url('images/apple.jpg');*/
	background-position:center;
	/*background-repeat:no-repeat;*/
	
	
}

/* android buttons */
.android{
	
	background: url('images/android.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

/* Research<p> */
.week{
	
	font-size: 18px;
}

/* <p> Discussion */
.discuss{

	font-color: #C1CED9;
	font-size: 30px;
}

div{
	
	text-align:center;
	margin-left:0 auto;
	margin-right:0 auto;
	width:100%;
	float:center;
	
	
}

.pic{
	
	margin-left:0 auto;
	margin-right:0 auto;
	width:350px;
	height:350px;
	float:center;
	
}

li{
	
	display:inline;
}

ul{
	display: block;
	padding-left:0;
	display: block,inline;
}

.geo2{
	
	border:none;
}